// Specific CSS for your home-page

.service-card {
  transition: transform 0.3s ease;
  border: 0;
  border-radius: 0.5rem;
  &:hover {
    transform: translateY(-5px);
  }
}

.service-icon {
  color: $primary;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}


.section-title {
  .services-heading {
    font-size: 2.5rem;
    color: $primary;
    margin-bottom: 0.5rem;
    font-weight: bold;
    position: relative;
  }

  .services-subheading {
    font-size: 1.25rem;
    color: #495057;
    max-width: 60%;
    margin: auto;
  }
}

.banner {
  background-color: $primary;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.highlight {
  color: $primary;
}

.img-custom {

  position: absolute;
  right: 41.95%;
  top: 104.99%;
  width: 16%;
}

.logo-custom {

  position: absolute;
  z-index: 2;
  right: -1%;
  top: 30%;
  width: 26%;
}

.logo-share {
  position: absolute;
    z-index: 2;
    right: 44%;
    top: 108%;
    width: 12%;
}


#hover-trigger {
  color: black;
  &:hover {
    color: white
  }
}

.welcome-perso {
  color:#d37427;

}
