<div class="container my-5 col-5">
  <div style="display: flex; justify-content: center;">
    <img src="https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/f894db7507df5208a83a343c/Untitled-1.png" class="faq">
  </div>
  <div class="accordion mt-5" id="faqAccordion">
    <div class="card p-3">
      <div class="card shadow">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Comment fonctionne ShareTheCars ?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              ShareTheCars simplifie le processus de location de voitures en quelques clics. Choisissez votre voiture, sélectionnez vos dates et voilà, votre trajet vous attend !
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow mt-2">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Comment rejoindre votre entreprise ?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              Le CEO peut créer un compte sur notre site et envoyer des invitations par e-mail aux employés pour les inviter à rejoindre l'entreprise sur notre plateforme. Chaque membre invité recevra un lien d'inscription personnalisé.
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow mt-2">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Qui sont les développeurs derrière ce site et d'où viennent-ils ?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              Le site a été développé avec passion par Florent Vandroy, Daniel Guasco et Florent Soler. Nous venons du Wagon, le meilleur bootcamp de codage. Un grand merci à tous les enseignants ; vous êtes incroyables ! <i class="fas fa-heart text-danger"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
