<footer class="py-5 bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Entreprise</h4>
        <ul>
          <li><a href="#">À propos</a></li>
          <li><a href="#">Nos services</a></li>
          <li><a href="#">Politique de confidentialité</a></li>
          <li><a href="#">Programme d'affiliation</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Réservations</h4>
        <ul>
          <li><a href="#">Voir les voitures</a></li>
          <li><a href="#">Gérer les réservations</a></li>
          <li><a href="#">Offres spéciales</a></li>
          <li><a href="#">Recommandations</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Aide</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Support client</a></li>
          <li><a href="#">Conditions de service</a></li>
          <li><a href="#">Options de paiement</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Suivez-nous</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
