<div class="container my-5">
  <div class="row">
    <div class="col-12 text-center mb-3 section-title p-5">
      <h2 class="services-heading">Nos Services</h2>
      <p class="services-subheading">Découvrez comment ShareTheCars peut transformer la gestion de votre entreprise</p>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="service-card card shadow p-4 text-center">
        <div class="service-icon mb-3"><i class="fas fa-car-side fa-3x"></i></div>
        <h3>Listez les Voitures Disponibles</h3>
        <p>Facilitez la réservation avec un catalogue en ligne actualisé en temps réel.</p>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="service-card card shadow p-4 text-center">
        <div class="service-icon mb-3"><i class="fas fa-key fa-3x"></i></div>
        <h3>Choisissez Votre Voiture</h3>
        <p>Accédez à un large choix de véhicules pour répondre à tous vos besoins de mobilité.</p>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="service-card card shadow p-4 text-center">
        <div class="service-icon mb-3"><i class="fas fa-smile-beam fa-3x"></i></div>
        <h3>Roulez avec le Sourire</h3>
        <p>Profitez d'une expérience de conduite supérieure, soutenue par un service client exceptionnel.</p>
      </div>
    </div>
  </div>
</div>
