<div class="banner">
  <div class="container py-5 position-relative">
    <div class="col-8">
      <h1><strong>La Gestion <span class="highlight">Futuriste</span> de Véhicules<br>
          d'Entreprise</strong></h1>
      <div class="slogan p-2">
        <strong><span class="highlight">Facilitez</span></strong> la mobilité au sein de votre entreprise.<br>
        Planifiez et gérez les réservations de véhicules <strong><span class="highlight">sans effort</span></strong> avec ShareTheCars.<br>
        Simplifiez la gestion de votre flotte et donnez à votre équipe les moyens d'être <strong><span class="highlight">plus efficace </span></strong>
      </div>
      <div class="banner-cta">
        <%= link_to cars_path, class: "btn btn-primary" do %>
          <i class="fas fa-play"></i> <strong>Démarrer avec ShareTheCars</strong>
        <% end %>
      </div>
    </div>
    <img src="https://pngimg.com/d/mercedes_PNG80189.png" class="img-right">
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-12 text-center mb-5 section-title">
      <h2 class="services-heading">Nos Services</h2>
      <p class="services-subheading">Découvrez comment ShareTheCars peut transformer la gestion de votre boite</p>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="service-card card shadow p-4 text-center">
        <div class="service-icon mb-3"><i class="fas fa-car-side fa-3x"></i></div>
        <h3>Listez les Voitures Disponibles</h3>
        <p>Facilitez la réservation avec un catalogue en ligne actualisé en temps réel.</p>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="service-card card shadow p-4 text-center">
        <div class="service-icon mb-3"><i class="fas fa-key fa-3x"></i></div>
        <h3>Choisissez Votre Voiture</h3>
        <p>Accédez à un large choix de véhicules pour répondre à tous vos besoins de mobilité.</p>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="service-card card shadow p-4 text-center">
        <div class="service-icon mb-3"><i class="fas fa-smile-beam fa-3x"></i></div>
        <h3>Roulez avec le Sourire</h3>
        <p>Profitez d'une expérience de conduite supérieure, soutenue par un service client exceptionnel.</p>
      </div>
    </div>
  </div>
</div>
