<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://data.pixiz.com/output/user/frame/preview/api/big/2/7/7/1/1651772_22e30.jpg);">
  <div class="container">
    <h1><strong>Streamline Vehicle Reservations: <br> We Make It Effortless</strong></h2>
      <div class="slogan">Unlock Seamless Mobility: Plan and manage your company vehicle reservations effortlessly with
      ShareTheCars. Streamline your fleet management and empower your team to move efficiently.</div>
    <div class="banner-cta">
      <%= link_to cars_path, class: "btn btn-primary" do  %>
      Get started
      <% end %>
    </div>
  </div>
</div>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="circle">1</div>
        <h1>Check all available cars</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in purus tempus, scelerisque risus commodo, commodo nibh. Etiam nec tempor dui. Donec posuere tellus velit. Nunc molestie nibh non eros elementum, in tincidunt magna condimentum. </p>
      </div>
      <div class="col-md-4">
        <div class="circle">2</div>
        <h1>Choose the car you prefer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in purus tempus, scelerisque risus commodo, commodo nibh. Etiam nec tempor dui. Donec posuere tellus velit. Nunc molestie nibh non eros elementum, in tincidunt magna condimentum.</p>
      </div>
      <div class="col-md-4">
      <div class="circle">3</div>
        <h1>Drive.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in purus tempus, scelerisque risus commodo, commodo nibh. Etiam nec tempor dui. Donec posuere tellus velit. Nunc molestie nibh non eros elementum, in tincidunt magna condimentum.</p>
      </div>
    </div>

  </div>
</body>
