.circle {
  border: thin solid gray;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 5rem
}
