.dashboard-card {
  @extend .card, .border-5, .border-end-0, .border-top-0, .border-bottom-0, .shadow, .h-100, .py-2, .bg-light;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  border-radius: 25px;
  &:hover {
    transform: translateY(-5px);
  }
}

.dashboard-card-body {
  @extend .card-body;
}

.dashboard-card-title {
  @extend .fw-bold, .text-uppercase, .mb-1;
}

.dashboard-card-icon {
  @extend .fa-2x, .text-muted;
}

.dashboard-card-stats {
  @extend .h5, .mb-0, .fw-bold;
}
