<%= simple_form_for '', url: cars_path, method: :get do |f| %>
  <div class="card bg-white rounded rounded-4">
    <div class="card-body p-3" data-controller="datepicker">
      <div class="row">
        <%= f.input :start_date,
            as: :hidden,
            id: "start_date",
            input_html: { class: "d-none", value: @start_date, data: { datepicker_target: "container" }}
        %>
        <%= f.input :end_date,
            as: :hidden,
            input_html: { value: @end_date },
            id: "end_date"
        %>
      </div>
      <div class="col-md-12 mt-2">
        <div class="text-center mt-3">
          <button type="button" class="btn btn-link d-block mx-auto" data-action="datepicker#reset">Réinitialiser les dates</button>
          <%= f.submit "Voir les voitures disponibles",  :class => "btn btn-primary px-4 rounded-3" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
